{% load static %}
<!doctype html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="{% static 'criss_cross/style.css' %}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Criss-Cross</title>
  </head>
  <body>
    <h1>Criss-Cross</h1>
    <div class="main">
        <div class = "puzzle-panel">
            <div class="board">
                <!-- Dynamically create cells -->
                    <div class="cell">
                    a
                    </div>
            </div>
        </div>
    </div>
  </body>
</html>