*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    height: 100%;
  }

html {
    font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

body {
    margin: 0;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

.puzzle-panel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.board {
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    width: clamp(300px, 40vw, 800px);
    min-width: 300px;
    aspect-ratio: 1;
}

.cell {
    border: 1px solid black;
    text-align: center;
    aspect-ratio: 1;
}

h1 {
    text-align: center;
  }